body {
    margin: 2%;
    background-color: cadetblue;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    color: brown;
    margin-bottom: 10px;
}
p {
    font-size: medium;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 2%;
    text-align: center;
}

.title {
    color: purple;
}

.photo {
    width: 50px; 
    height: 50px;
}

.photoDiv {
    text-align: center;
}

.servicesImg {
    width: 100%; margin-bottom: 15px;
}

.mailBtnP {
    margin-top: 10px; text-align: right;
}

.welcomeTxt {
    margin-top: 30px; font-size: x-large;
}

.contentDiv {
    margin-top: 15px; margin-left: 35px;
}

